:root {
  font-size: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #47525E;
}
body {
  background-color: #F3F1EC;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 2.4rem;
  font-weight: 800;
}
.main-title {
  text-decoration: underline;
  width: 70%;
  margin-top: 20vh;
  margin-bottom: 5vh;
}
.day {
  height: 100%;
  font-size: 1.4rem;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  line-height: normal;
}
.grid-main-container {
  width: 70%;
  display: grid;
  grid-gap: 0px;
  margin-bottom: 12px;
}
.habit-title, .month-title, .flex-month-container, .day, .check {
  display: flex;
  align-items: center;
  height: 100%;
}
.day {
  justify-content: center;
}
.flex-add-habit-container {
  width: 70%;
}
.flex-month-container, .flex-day-container, .checks-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-month-container, .month-title {
  border-bottom: 1px solid;
  padding-bottom: 10px;
}
.habit-title, .day, .habit-container, .check-container {
  border-bottom: 1px solid;
  padding-bottom: 10px;
  padding-top: 10px;
}
.flex-add-habit-container {
  display: flex;
  align-items: center;
}
button {
  background-color: transparent;
  border: none;
  padding: 0px;
  font-size: 1.4rem;
  color: #47525E;
  font-weight: 800;
  outline: none;
  cursor: pointer;
}
.selected-month {
  background-color: #FFD185;
  padding: 2px;
  height: 100%;
  align-self: center;
}
.habit {
  font-size: 1.4rem;
  align-self: center;
  position: absolute;
}
input {
  margin: 0px;
}
.actual-day {
  background-color: #FFD185;
  padding: 2px;
}
.check {
  align-self: center;
  justify-self: center;
}
.remove-habit {
  left: -7px;
  position: relative;
  opacity: 0;
  cursor: pointer;
  font-size: 1.2rem;
}
.habit-container {
  display: flex;
  align-items: center;
}
.month {
  cursor: pointer;
  display: flex;
  align-content: center;
}
.habit-input-container {
  width: 70%;
  display: none;
}
.habit-input {
  background-color: #F3F1EC;
  outline: none;
  border: hidden;
  width: 220px;
  font-size: 1.4rem;
  color: #47525E;
  font-family: 'Source Sans Pro', sans-serif;
}
.check-container {
  display: flex;
  justify-content: center;
  border-left: 1px solid;
}
.last-one {
  border-right: 1px solid;
}
.first-one {
  border-left: 1px solid;
}